[submodule "external/shared"]
	path = external/shared
	url = https://github.com/forcedotcom/SalesforceMobileSDK-Shared
[submodule "external/SalesforceMobileSDK-iOS"]
	path = external/SalesforceMobileSDK-iOS
	url = https://github.com/forcedotcom/SalesforceMobileSDK-iOS
