github "wmathurin/SalesforceMobileSDK-iOS" "ioshybrid"
# github "CocoaLumberjack/CocoaLumberjack" == 3.4.1
# github "apache/cordova-ios" == 4.5.4
# github "apache/cordova-plugin-wkwebview-engine" == 1.1.2
