//
//  SalesforceFileLogger-Static-iOS-Debug.xcconfig
//  SalesforceFileLogger
//
//  Created by Wolfgang Mathurin on 11/8/18.
//  Copyright (c) 2018-present, salesforce.com. All rights reserved.
//

#include "../../../external/SalesforceMobileSDK-iOS/configuration/Common-iOS.xcconfig"
#include "../../../external/SalesforceMobileSDK-iOS/configuration/Packaging-Static.xcconfig"
#include "../../../external/SalesforceMobileSDK-iOS/configuration/Configuration-Debug.xcconfig"
#include "SalesforceFileLogger-Common.xcconfig"

HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/Headers $(TARGET_BUILD_DIR)/Headers $(inherited)
